body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
#grid-div{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-auto-columns: minmax(200px, auto);
    grid-auto-rows: minmax(50px, auto);
    gap: 20px;
    grid-template-areas: 
    "nav nav nav nav"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside section section section"
    "aside section section section"
    "aside section section section"
    "aside section section section"
    "aside section section section"
    "aside section section section"
    "aside section section section"
    "aside section section section"
    "aside section section section"
    
    
    ;
}
nav{
    
    /*grid-column: 1/6;*/
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
aside{
    
    /*height: 960px;
    width: 220px;*/
    grid-area: aside; 
    display: grid;
    grid-auto-rows: 40px;
   overflow-y: scroll;
   cursor: pointer;
    
}
.home-div{
    display: grid;
    grid-template-columns: 50px 120px;
    justify-content: center;
    align-content: center;
}
.home-div:hover{
    background-color: grey;
}
#home-div-child{
    width: 25px;
    height: 25px;
    
}
#home-image{
    width: 100%;
}
#abbrv-txt{
    overflow: hidden;
}
h3{
    margin: 0;
    padding: 0;
}
#hr-tag{
    transform: rotate(90deg);
}
h4{
    font-weight: bold;
    align-self: center;
    font-size: larger;
    margin: 0px 0px 0px 37px;
    color: red;
    
}
main{
    
    /*grid-column: 2/6;
    height: 600px;*/
    grid-area: main;
    /*width: 1055px*/
    
    
    
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
section{
   
   /* grid-column: 2/6;
    height: 360px;
    grid-row: 4/5;*/
    grid-area: section;
}
#logo-container{
    
    width: 80px;
    height: auto;
    margin-left: 60px;
}
#logo{
    width: 100%;
}
#search-container{
    
    align-self: center;
}
#search{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid grey;
}

.flex-item{
    width: 290px;
    flex-grow: 1;
}
.img-div{
    width: 100%;
    
    border-radius: 15px;
}
#kamaro{
    width: 100%;
    border-radius: 15px;
}
.kamoro-txt{
    width: 200px;
    height: 40px;
    overflow-x: hidden;
}

#pedro-dp{
    width: 100%;
    border-radius: 50px;
    
}
.pedro-txt{
    overflow: hidden;
    white-space: nowrap;/*truncation*/
    text-overflow: ellipsis;
}

#img-txt-div{
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 10px;
    grid-auto-rows: 40px;
}
abbr{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

#img-txt-kam{
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 10px;
    grid-auto-rows: 40px;
}
#p-txt{
    grid-column: 2/3;
    
}
p{
    margin: 0;
    padding: 0;
    color: grey;
}
#short-div-logo{
    width: 60px;
    margin-left: 10px;
    margin-top: 30px;
}
#short-logo{
    width: 100%;
}
.section-div{
    display: flex;
   overflow-x: auto;
    gap: 10px;
}
.section-div::-webkit-scrollbar { /*i didnt really understand this though*/
    display: none;
  }
.section-div-item{
    width: 220px;
    border-radius: 10px;
}
.section-image{
    width: 220px;   
}
#css-short{
    width: 100%;
    border-radius: 10px;
}
#txt-div-section{
    margin-top: 10px;
}
#p-txt-section{
    margin-top: 20px;
}